.custom-toolbar {
    background: none; /* Elimina cualquier color de fondo */
    box-shadow: none; /* Elimina cualquier sombra */
    margin: 0; /* Elimina cualquier margen */
    padding: 0; /* Elimina cualquier relleno */
    border: none; /* Elimina cualquier borde */
}

.barraTituloCRUD {
    background: linear-gradient(90deg, rgb(247, 243, 10), rgb(16, 31, 238), rgb(243, 17, 17)); /* Degradado lineal de izquierda a derecha */
    color: #f7f4f4;
    height: 75px;
    text-align: center; /* Centrar horizontalmente */
    display: flex; /* Utilizamos flexbox para centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente con flexbox */
    align-items: center; /* Centrar verticalmente con flexbox */
    width: 100%; /* Ancho deseado */
    font-family: 'Open Sans', sans-serif; /* Aplica la fuente personalizada */
    font-weight: 00; /* Puedes ajustar el peso de la fuente si es necesario */
    font-style: italic; /* Aplica cursiva al texto */
    font-size: 38px; /* Ajusta el tamaño de la letra */
    margin: auto; /* Centra horizontalmente */
    height: 50px; /* Altura deseada */
}

.custom-mat-form-field {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el campo de entrada y el botón */
    height: 70px; /* Altura del contenedor */
    width: 400px; /* Ancho del contenedor */
    background-color: rgb(254, 255, 255); 
  }
  
  .custom-mat-form-field mat-form-field input {
    color: rgb(10, 10, 10); /* Cambia el color del texto dentro del campo de entrada a rojo */
    font-size: 20px; /* Ajusta el tamaño de la letra */
    font-family: 'Open Sans', sans-serif; /* Aplica la fuente personalizada */
    font-style: italic; /* Aplica cursiva al texto */
   
  }

  .custom-mat-form-field button {
    min-width: 100px; /* Ancho mínimo del botón */
    background-color: rgb(10, 10, 10); /* Cambia el color de fondo del botón a azul */
    color: white; /* Cambia el color del texto del botón a blanco */
    height: 50px; /* Altura del botón */
    font-style: italic; /* Aplica cursiva al texto */
    font-size: 18px; /* Ajusta el tamaño de la letra */
    font-family: 'Open Sans', sans-serif; /* Aplica la fuente personalizada */
    margin-top: -20px; /* Ajusta la distancia hacia arriba */
    
  }

  .form-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente el formulario */
    align-items: center; /* Centra verticalmente el formulario */
    height: 20vh; /* Hace que el contenedor ocupe toda la altura de la ventana */
  }

  .custom-mat-form-field {
    width: 390px; /* Ajusta el ancho del campo de formulario */
    margin: 20px; /* Añade margen alrededor del campo de formulario */
 
}

  .imagen-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    width: 300px; /* Anchura deseada */
    height: 300px; /* Altura deseada */
}
