<mat-toolbar class="custom-toolbar">
  <div class="barraTituloCRUD">
      Festivos Colombia
  </div>
</mat-toolbar>
<div class="custom-mat-form-field">
  <mat-form-field appearance="fill">
    <mat-label>Buscar</mat-label>
    <input matInput type="date" [(ngModel)]="FechaBusqueda">
  </mat-form-field>
  <button mat-stroked-button color="primary" (click)="buscar()">Buscar</button>
  <button mat-stroked-button color="warn" (click)="limpiarFechaBusqueda()">Limpiar</button>
  
  <div>

    
   
    




